---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>World of Warcraft Private Server News</title>
        <link>https://wowprivateservers.vercel.app/news/</link>
        <description>News and updates on the World of Warcraft private server scene.</description>
        <language>en-us</language>
        <atom:link href="https://wowprivateservers.vercel.app/feed.xml" rel="self" type="application/rss+xml"/>
        {% for n in collections.news | reverse %}{% if not n.data.archived %}
        <item>
            <title>{{ n.data.title | e }}</title>
            <link>https://wowprivateservers.vercel.app{{ n.url }}</link>
            <guid>https://wowprivateservers.vercel.app{{ n.url }}</guid>
            <pubDate>{{ n.date | rssDate }}</pubDate>
            <description>{{ n.templateContent | striptags | truncate(500) | e }}</description>
        </item>
        {% endif %}{% endfor %}
        {% for p in collections.blog | reverse %}
        <item>
            <title>{{ p.data.title | e }}</title>
            <link>https://wowprivateservers.vercel.app{{ p.url }}</link>
            <guid>https://wowprivateservers.vercel.app{{ p.url }}</guid>
            <pubDate>{{ p.date | rssDate }}</pubDate>
            <description>{{ p.templateContent | striptags | truncate(500) | e }}</description>
        </item>
        {% endfor %}
    </channel>
</rss>
