---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url><loc>https://wowprivateservers.vercel.app/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/news/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/blog/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/classic-plus/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/guides/octowow/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/radio/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/disclaimer/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/privacy/</loc></url>
    <url><loc>https://wowprivateservers.vercel.app/terms/</loc></url>
    {% for e in vocab.ERA_ORDER %}
    <url><loc>https://wowprivateservers.vercel.app/{{ e | lower }}/</loc></url>
{% endfor %}
{% for s in servers %}
    <url><loc>https://wowprivateservers.vercel.app/servers/{{ s.name | slugify }}/</loc></url>
{% endfor %}
{% for n in collections.news %}
    <url><loc>https://wowprivateservers.vercel.app{{ n.url }}</loc></url>
{% endfor %}
{% for p in collections.blog %}
    <url><loc>https://wowprivateservers.vercel.app{{ p.url }}</loc></url>
{% endfor %}
</urlset>
